/*styles for TK project*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300.300i,400,400i,700,700i');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
}

#sunburstViz {
  /* background-color: pink; */
  padding: 1em;
  position: relative;
}

.center {
  width: 20%;
  height: 25%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#intialContent {
  text-align: center;
}

#content {
  display: none;
}

.orange {
  fill: orange;
}

.labels {
  fill: white;
  pointer-events: none;
  font-size: .9em;
  font-weight: 300;
}

p {
  font-size: 2em;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  text-align: center;
  background: lightgrey;
  color: white;
}
