/*styles for TK project*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300.300i,400,400i,700,700i');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
}

#sunburstViz {
  /* background-color: pink; */
  position: relative;
  /* max-width: 100%; lol */
}

/* lol
svg {
  max-width: 100%;
} */

.center {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 350px;
  top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center * {
  width: 300px;
}

#intialContent {
  text-align: center;
}

#content {
  display: none;
}

.cat {
  text-transform: uppercase;
  font-size: .75em;
}

.title {
  margin: .5em 0;
  text-transform: capitalize;
  color:  #f0142c;
}

#ex {
  position: absolute;
  margin: auto;
  /* top: 25px;
  left: 25px; */
  /* display: flex; */
  align-items: center;
  width: 95%;
  height: 95%;
  max-width: 950px;
  margin: auto 1em;
  justify-content: center;
  display: none;
}

#ex div {
  border: solid 1px black;
  background-color: white;
  padding: 1em;
  width: 90vh;
  max-width: 600px;
  margin: auto;
  box-shadow: 5px 10px 8px rgba(0,0,0, .5);
}

.examples p {
  margin: 0;
}

.linkish {
  color: #2a8ad2;
  text-decoration: underline;
  text-align: right;
  font-size: .75em;
  cursor: pointer;
}

.orange {
  fill: #f0142c;
}

.selected {
  fill: #ff6f6f;
}

.labels {
  fill: 44, 32, 31;
  pointer-events: none;
  font-size: .9em;
  font-weight: 300;
}

p {
  font-size: 1em;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  text-align: center;
  background: lightgrey;
  color: white;
}
