/*styles for TK project*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300.300i,400,400i,700,700i');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 52px;
  text-transform: uppercase;
  font-style: italic;
  color: rgba(237, 27, 52, 1);
  font-weight: 900;
  margin: 1rem auto;
}

h2.intro {
  font-size: 20px;
  font-weight: 300;
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  width: 1000px;
  display: block;
  margin: auto;
}

#sunburstViz {
  /* background-color: pink; */
  position: relative;
  /* max-width: 100%; lol */
}

.linkish {
  color: rgba(62, 151, 211, 1);
  text-decoration: underline;
  text-align: right;
  font-size: 12px;
  cursor: pointer;
}

a:link {
  color: rgba(62, 151, 211, 1);
}

a:visited {
  color: rgba(29, 68, 102, 1);
}

a:hover, a:active, .linkish:hover, .linkish:active {
  color: rgba(237, 27, 52, 1);
}

.center {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 320px;
  top: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center * {
  width: 300px;
}

#intialContent {
  text-align: center;
}

#content {
  display: none;
}

.cat {
  text-transform: uppercase;
  font-size: 12px;
}

.title {
  margin: 8px 0;
  color:  rgba(237, 27, 52, 1);
}

.outerTitle {
  color: white;
  background-color: rgba(237, 27, 52, 1);
  padding: 4px;
}

#ex {
  position: absolute;
  margin: auto;
  align-items: center;
  width: 95vw;
  height: 95vh;
  max-width: 940px;
  justify-content: center;
  display: none;
}

#ex div {
  border: solid 1px black;
  background-color: white;
  padding: 1em;
  width: 100%;
  max-width: 600px;
  margin: auto;
  box-shadow: 5px 10px 8px rgba(0,0,0, .5);
}

.examples p {
  margin: 0;
}

.spot {
  fill: rgba(124, 26, 40, 1);
}

.subspot {
  fill: rgba(237, 27, 52, 1);
  cursor: pointer;
}

.subspot + text, .spot + text {
  fill: white;
}


.labels {
  fill: 44, 32, 31;
  pointer-events: none;
  font-size: 14.4px;
  font-weight: 300;
}

p.short {
  font-size: 16px;
}

.no {
  display: none;
}

p {
  font-size: 1rem;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 2rem;
  text-align: center;
  background: lightgrey;
  color: white;
  min-width: 1000px;
}

footer p {
  color: black;
  font-size: .75em;
}

@media only screen and (max-width: 950px) {

  #ex {
    position: fixed;

  }

}
